rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if userId == request.auth.uid;
      allow update: if userId == request.auth.uid;
      allow read: if true;
    }

    match /boards/{boardId} {
      allow create: if request.resource.data.createdBy == request.auth.uid;
    }
  }
}